# Домен сервера Matrix (API)
SYNAPSE_SERVER_NAME=matrix-ВАШ_ДОМЕН.duckdns.org
MATRIX_SUBDOMAIN=matrix-ВАШ_ДОМЕН.duckdns.org

# Домен веб-клиента Element
ELEMENT_SUBDOMAIN=element-ВАШ_ДОМЕН.duckdns.org

# Надежный пароль для базы данных
POSTGRES_PASSWORD=придумайте_сложный_пароль

# Пароль для шифрования бэкапов (ОБЯЗАТЕЛЬНО, скрипт не запустится без него)
BACKUP_PASSWORD=придумайте_пароль_для_бэкапа
